<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.qks.beautyexchange">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">

        <meta-data
            android:name="design_width"
            android:value="750"></meta-data>
        <meta-data
            android:name="design_height"
            android:value="1334"></meta-data>

        <!-- 主界面 -->
        <activity android:name=".ui.activity.main.MainActivity">

        </activity>
        <!-- 消息界面 -->
        <activity android:name=".ui.activity.message.MessageActivity" />
        <!-- 我的界面 -->
        <activity android:name=".ui.activity.mine.MineActivity" />
        <!-- 首页Item详情界面 -->
        <activity android:name=".ui.activity.main.MainCommodityDetailActivity" />
        <!-- 我的商城详情-->
        <activity android:name=".ui.activity.mine.MineStoreItemDetailActivity" />
        <!-- 我的商城商品详情界面-->
        <activity android:name=".ui.activity.mine.MineStoreCommodityDetail" />
        <!-- 发现界面 -->
        <activity android:name=".ui.activity.find.FindActivity" />
        <!-- 公共HTMLActivity 需要加载HTML都用此Activity -->
        <activity
            android:name=".ui.activity.base.BaseHtmlActivity"
            android:process=":com.qks.beautyexchange.basehtmlactivity">
            <intent-filter>
                <action android:name="com.qks.beautyexchange.basehtmlactivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!--测试Activity-->
        <activity android:name=".api.common.TestActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>

